<meta charset="utf-8">
<title>{{.Site.Title}} - {{.Title}}</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0">

<link rel="shortcut icon" type="image/png" href='{{ "/img/favicon.png" | relURL }}'>
<link rel="icon" type="image/png" href='{{ "/img/favicon.png" | relURL }}'>
<meta property="og:url" content='{{ absURL "" }}'>
<meta property="og:type" content="website">
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="">
<meta name="viewport" content="width=device-width, initial-scale=0.8125">
<link rel="stylesheet" href='{{ "/css/site.css" | relURL }}' type="text/css" >
<link rel="stylesheet" href='{{ "/css/syntax.css" | relURL }}' type="text/css" >
<link rel="preload" as="script" href="https://platform.linkedin.com/in.js" type="text/javascript">
<script defer="" src='{{ "/js/site.js" | relURL }}' type="text/javascript"></script>
<script defer="" src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
