<!DOCTYPE html>
<html lang="ja">

<head>
    {{- partial "head.html" . -}}
</head>

<body>
    {{- partial "header.html" . -}}
    <main>
        <aside>
           <section class="about">
              <h2>About Me
                 <span>
                  <a href="https://www.linkedin.com/in/alexmilowski/" target="linkedin"><img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" border="0" alt="View Alex Milowski's profile on LinkedIn" >profile</a>
                 </span>
                </h2>
              <p><img src="/img/headshot-square-2019-10-12-small.png" title="Alex Miłowski" alt="headshot of Alex Miłowski">Dr. Milowski is a serial entrepreneur and computer scientist with experience in scientific applications, web and semantic technologies, 
                 graph databases, machine learning, natural language processing, data representation, and algorithms. He holds a PhD in Informatics from the University of Edinburgh, where he researched large-scale computation over scientific data on the web.</p>
              <h3>resume - <a href='/content/resume.pdf' title="Resume of Alex Miłowski in PDF format" alt="Resume of Alex Miłowski in PDF format" target="resume_pdf">(pdf)</a> <a href='/content/resume.html' title="Resume of Alex Miłowski in HTML format" alt="Resume of Alex Miłowski in HTML format" target="resume_html">(html)</a></h3>
           </section>
           <section class="keywords">
              {{ range .Site.Taxonomies.keywords.Alphabetical}}
              <a class="keyword" href="{{ .Page.RelPermalink }}">{{ .Page.Title }} ({{.Count}})</a> 
              {{ end }}
           </section>
        </aside>
     
        {{- block "main" . }}{{- end }}
   
    </main>
  <script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: true });
  </script>
</body>

</html>
