body {
   margin: 0.5em 0.5em;
   background-color: white;
   font-size: 1.25em;
   font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

header {
   min-height: 2em;
}

main > section {
   padding-left: 2em;
   padding-right: 2em;
}

main > aside {
   float: right;
   width: 20%;
   min-width: 16em;
   background-color: white;
   z-index: 1;
   padding-left: 1em;
   padding-right: 1em;
   padding-bottom: 1em;
   margin-top: -3em;
   text-align:justify;
}

section.entry > nav.article {
   order: 1;
   display: block;
   font-size: 0.875em;
   margin-bottom: 1em;
}

aside section.about {
   font-size: 0.875em;
   border-bottom: 1pt solid rgb(200,200,200);
   margin-bottom: .125em;
}

aside > section > h2 {
   margin-top: 0.375em;
   border-bottom: 1pt solid rgb(200,200,200);
}

aside h2 span {
   float: right;
   font-size: 0.8125em;
}

header {
   padding-left: 2em;
}

header > h1, footer > h1 {
   font-family: monospace;
   font-size: 1.5em;
}

article > h1 {
   font-size: 1.5em;
   border-bottom: 1px solid rgb(200,200,200);
   margin-top: 0px;
}

article > section.info {
   margin-bottom: 2em;
}
article > section.info > .metadata span {
   font-size: 0.825em;

}

.between-article {
   margin-top: 3em;
   margin-bottom: 3em;
   display: flex;
   align-items: center;
   text-align: center;
}
.between-article:before, .between-article:after {
   flex: 1;
   content: '';
   border-bottom: 1px solid rgb(200,200,200)
}

article aside.keywords {
   font-size: 0.75em;
}

article aside.keywords .keyword {
   color: #cc6600;
}

article aside.keywords .keyword:before {
   content: "#";
   margin-right: -0.125em;
}

main > aside > .keywords {
   margin-top: 0.5em;
   font-size: 0.75em;
   text-align: left;
}
main > aside > .keywords .keyword:before {
   content: "#";
   margin-right: -0.125em;
}
main > aside > .keywords .keyword {
   padding-right: 0.25em;
}

.entry-list p {
   color: rgb(100,100,100)
}

/* general rules */

h1, h2, h3, h4, h5, h6 {
   font-family: Helvetica, Arial, sans-serif;
   color: rgb(50,50,50);
}

h1 {
   color: rgb(50,50,50);
}

h2 {
   font-size: 1.325em;
   padding-bottom: 0.125em;
}

a:link, a:visited {
   color: #cc6600;
   text-decoration: none;
}

div:not(.highlight) pre , article > pre, figure > pre {
   background-color: rgb(75,75,75);
   color: #f8f8f2;
   padding: 0.25em 0.25em;
   padding-left: 0.5em;
   overflow-x: scroll;
}

pre.mermaid {
   background-color: white;
}

div.highlight > pre {
   /*background-color:  rgb(85,85,85) !important;*/
   padding: 0.25em 0.25em !important;
   padding-left: 0.5em !important;
   overflow-x: scroll;
}

figure {
   margin-left: 0px;
   margin-right: 0px;
}
figure > img {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

figcaption {
   text-align: center;
}

figure figcaption h4 {
   margin-top: 0px;
}

figure.listing figcaption h4 {
   margin-top: -0.5em;
}

figure.listing > pre, figure.listing div.highlight {
   margin-left: 1em;
   margin-right: 1em;
}

.note {
   border-left: 1px solid rgb(200,200,200);
   margin-left: 2em;
   margin-right: 2em;
   padding-left: 0.5em;
}

@media screen and (max-width: 640px) and (orientation: portrait) {

   main > aside {
      float: none;
      width: auto;
      margin-top: 1em;
   }
}